body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f8ff;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 20px;
}

.birthday-img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

h1 {
    color: #ff69b4;
}

.from {
    font-style: italic;
    color: #666;
}
